@use "../../base/variables";

.options-dropdown {
  width: 180px;
  position: absolute;
  top: 50px;
  right: 0;
  background: #ffffff;
  border: 1px solid rgba(84, 95, 125, 0.04);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 10px 20px;
  z-index: 20;
  li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    list-style: none;
    color: variables.$textPrimary;
    cursor: pointer;
    padding: 10px 0;
  }
}