@use "../../base/variables";

.login-page {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-div {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
  }
}

.login-images {
  width: 50%;
  height:  90%;
  padding: 105px 0 0 60px;
  position: relative;
  @include variables.breakpointTabletLg {
    display: none;
  }

  .logo {
    width: 200px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto 0 auto 0;
    height: 80%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}